@model IEnumerable<ApplicationUser>

@{
    ViewBag.Titre = "Tous les utilisateurs";
}

<h3>Tous les utilisateurs</h3>

@if (Model.Any())
{
    <a class="btn btn-primary mb-3 LargeurAutoBouton" asp-action="Register"
       asp-controller="account">Ajouter un nouveau utilisateur</a>

    foreach (var user in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id : @user.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@user.UserName</h5>
            </div>
            <div class="card-footer">
                <form asp-action="DeleteUser" asp-route-id="@user.Id" method="post">
                    <a asp-action="EditUser" asp-controller="Administration" asp-route-id="@user.Id" class="btn btn-primary LargeurAutoBouton">Modifier</a>
                    <span id="confirmDeleteSpan_@user.Id" style="display:none">
                        <span>Êtes-vous sûr de vouloir supprimer l'utilisateur?</span>
                        <button type="submit" class="btn btn-danger LargeurAutoBouton">Oui</button>
                        <a class="btn btn-primary"
                           onclick="confirmDelete('@user.Id', false)">Non</a>
                    </span>
                    <span id="deleteSpan_@user.Id">
                        <a class="btn btn-danger LargeurAutoBouton"
                           onclick="confirmDelete('@user.Id', true)">Supprimer</a>
                    </span>
                </form>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            Aucun utilisateur n'est créé pour le moment
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Utilisez le bouton ci-dessous pour créer un utilisateur
            </h5>
            <a class="btn btn-primary LargeurAutoBouton" 
               asp-controller="account" asp-action="Register">
                Nouveau Utilisateur
            </a>
        </div>
    </div>
}

@section Scripts{ 
    <script src="~/js/CustomScript.js"></script>
}